# App
APP_NAME=Pokedex_API
ENV=dev
PORT=8000

# JWT (Tokens de autenticación)
JWT_SECRET=change_me
JWT_ALG=HS256
JWT_EXPIRES_MIN=1440

# Base de datos
DATABASE_URL=sqlite:///./pokedex.db

# CORS (dominios permitidos)
CORS_ORIGINS=http://localhost:3000,http://localhost:5173
